.navbar{
background-color:#075e54;
}
.navbar-brand{
color:white;
}

.nav-link{
color:white;
}

.chat-img{}

.chat-name{
}
.backgroundImage{
background-color:#f9f9f9;
}

.badge{
background-color:#075e54;
color:white;
}

.container-back{
background-image:url("image/background1.png");
height:auto;
width:auto;
}

.navBackground{
background-image:url("image/background.png") ;
}

.myMsg{
background-color:#28a74573;
}
.search{
background-color:white;
}


